/**@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Space+Grotesk:wght@300;700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    
}
 .logo h1{
    color:  black;
    font-family: 'Oleo Script';
    font-size: xx-large;

}
.menu{
    display: flex;
    font-size: large;
    justify-content: space-around;
    color: black;
}
nav ul{
    float: right;

}
.nav-links a{
    color: black;
    padding: 5px 15px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
.nav .button{
    background-color: #2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;
}
    

nav ul li{
    display: inline-block;
    list-style: georgian;
}
body{
    font-family: 'Space Grotesk';


}
.h1{
    font-family: 'Space Grotesk';
    color: #0F298B;
}
.h2{
    color: #2549D3;
    padding: 5px 15px;
    float: right;

}
.body-button{
    background-color: #2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;
}
.h3{
    color: #0F298B;
    margin-right: 200px;
    
}
.h4{
    color: blue;
    text-align: center;
}
.h5{
    font-family: 'Space Grotesk';
    font-weight: bold;
}
.h6{
    color: #0F298B;
}
.works{
    text-align: center;
}