@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Space+Grotesk:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;

}

.logo h1 {
    color: black;
    font-family: 'Oleo Script';
    font-size: xx-large;

}

.menu {
    display: flex;
    font-size: large;
    justify-content: space-around;
    color: black;
}

nav ul {
    float: right;

}

.nav-links a {
    color: black;
    padding: 5px 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

.nav .button {
    background-color: #2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;
}

.section {
    height: 70vh;
}

.subsection1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
}

.subsection1contentssuperleft {
    width: 99%;
}

.subhsection1contentssuperleft>h2 {
    font-size: 50px;
    color: #0F298B;
    margin-bottom: 2%;
}

.subsection1contentssuperleft>p {
    font-size: x-large;
    width: 99%;
    margin-top: 0%;
    margin-bottom: 10%;
}

.iconz>img {
    display: 30%;
    width: 30vw;
}

.subheading1contentssupperright img {
    width: 50%;
    margin-top: 300px;
    margin-left: 500px;
}

.iconz {
    width: 100%;
    display: flex;
    height: 10px;
    align-items: center;
}

.iconz>button {
    margin: px;
    width: 130;
    color: white;
    background-color: #2549D3;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-size: larger;
    text-transform: capitalize;
}

nav ul li {
    display: inline-block;
    list-style: georgian;
}

body {
    font-family: 'Space Grotesk';
    padding: 10px;
    margin: 1px;


}

.h1 {
    font-family: 'Space Grotesk';
    color: #0F298B;
}

.button {
    background-color: #2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;
}

.h2 {
    font-family: 'Space Grotesk';
    color: #2549D3;
}

.body .button {
    background-color: #2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;

}

.works {
    text-align: center;
    
}

findkk {
    list-style-type: none;
    display: flex;
    padding: 20px;
    background-color: white;
    margin-left: 200px;
}

.choose {
    display: flex;
    list-style-type: none;
    color: blue;

    background-color: white;
    margin-left: 450px;
    font-style: Space Grotesk;

}

.featured {
    background-color: white;
    list-style-type: none;
    padding: 20px;
    margin-left: 200px;
    display: flex;
    text-align: center;
}

.esteemed {
    font-style: Oleo Script;
    color: white;
    display: flex;

}

.Alex {
    list-style-type: none;
    display: flex;
    background-color: white;
    padding: 20px;
    margin-left: 400px;
    font-style: Oleo Script;
    color: black;
}

.part {
    background-color: #0F298B;
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    justify-content: center;
}

.prop {
    justify-content: center;
}

.desc {
    margin-left: 350px;
    padding: 50px;
    
    
}

.properties {
    text-align: center;
}

.Client {
    text-align: center;

}

ul {
    list-style-type: none;
    display: flex;

}

.pfjroducts {
    display: flex;
    justify-content: center;

}

.products .h3 {
    color: #0F298B;
    padding-bottom: 30px;
}
.h3-1{
    align-content: center;
}